<%- include('header') -%>
<%- include('navbar') -%>

<p class="loggedInMsg">Logged in as <%= currentUser %> </p>
<h1>Adjectives</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Word</th>
      <th scope="col">Added</th>
      <th scope="col">Frequency</th>
      <th scope="col">Status</th>
      <th scope="col">Change Status</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% adjectivesList.forEach(function(item){ %>
      <tr>
        <th scope="row"></th>
          <td><%= item.word %></td>
          <td><%= item.timeStamp.toDateString() %></td>
          <td><%= item.frequency %> <button class="btn btn-secondary btn-md">+</button></td>
          <td><%= item.status %></td>
          <td>
            <form class="trafficLightForm" action="/redAdjective" method="post">
              <input name="inputId" value=<%= item._id %> type="hidden"></input>
              <button class="btn btn-danger" type="submit">+</button>
            </form>
            <form class="trafficLightForm" action="/yellowAdjective" method="post">
              <input name="inputId" value=<%= item._id %> type="hidden"></input>
              <button class="btn btn-warning" type="submit">+</button>
            </form>
            <form class="trafficLightForm" action="/greenAdjective" method="post">
              <input name="inputId" value=<%= item._id %> type="hidden"></input>
              <button class="btn btn-success" type="submit">+</button>
            </form>
          </td>
          <td>
            <form class="trafficLightForm" action="/deleteAdjective" method="post">
              <input name="inputId" value=<%= item._id %> type="hidden"></input>
              <button class="btn btn-outline-danger deleteBtn" type="submit">X</button>
            </form>
          </td>
        </tr>
    <% }) %>
  </tbody>
</table>

<%- include('footer') -%>
